h1{
    font-size: 50px;
    font-family: sans-serif;
    color: aqua;
}
.sumaia{
    color: brown;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
}
.deco{
   text-align: justify;
}


section{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua, blue);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.top-banner{
    background-image: url(image/top-banner.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
}
body{
    margin: 0%;
}